.section-10 {
	padding-top: 10px;
	padding-bottom:10px;
}

.section-20 {
	padding-top: 20px;
	padding-bottom: 20px;
}

.section-30 {
	padding-top: 30px;
	padding-bottom:30px;
}

.section-40 {
	padding-top: 40px;
	padding-bottom:40px;
}



.section-top-40 {
	padding-top: 40px;
}

.section-top-25 {
	padding-top: 25px;
}

.section-50 {
	padding-top: 50px;
	padding-bottom: 50px;
}

.section-70 {
	padding-top: 70px;
	padding-bottom:70px;
}

.section-white {
	background-color: $color-white;
}

.section-nav {
	padding-left: 5%;
	padding-right: 5%;
}

.side-nav li a{
	color: #727272;
	padding: 0 32px;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	text-transform: uppercase;
	background-color: transparent;
	line-height: 24px;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.menu-1 li a {
	color: #727272;
	padding: 14px 6px;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	text-transform: uppercase;
	background-color: transparent;
	line-height: 24px;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}


nav .brand-logo {
	position: absolute;
	color: #727272;
	display: inline-block;
	font-size: 2.1rem;
	padding: 0;
	white-space: nowrap;
}

@media only screen and (min-width: 1px) {
	nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
	color: #727272;
	&:hover {
		color: #727272;
		text-decoration: none;
	}
}}